<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>CGI Survey</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">CGI Survey -  The Fields</a>
		</nav>
		<div class="row">
			<div class="col">
				<p>Hier werden die Fragen f&uuml;r die Umfrage deklariert.</p>
			</div>
		</div>
		<form action="#" th:action="@{/fields}" th:object="${fieldsAttributes}" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="title">Titel deiner Umfrage:</label>
					<input id="title" type="text" class="form-control" placeholder="The title" th:field="*{title}" th:errorclass="is-invalid"/>
					<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="invalid-feedback">Titel Fehler</div>
				</div>
			</div>
			<button class="btn btn-primary" type="submit">Weiter</button>
		</form>
	</div>
</body>
</html>
