<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>CGI Survey</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">CGI Survey</a>
		</nav>
		<div class="row">
			<div class="col">
				<div class="jumbotron">
				  <h1 class="display-4">CGI Survey</h1>
				  <p class="lead">Gestalte deine eigenen Umfragen.</p>
				  <hr class="my-4"/>
				  <p>Der Rest fehlt zwar noch, aber diese Anwendung gibt es schon einmal.</p>
				  <p class="lead">
				    <a class="btn btn-primary btn-lg" href="/base" role="button">Umfrage Erstellen</a>
				  </p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
